attrs==23.1.0
black==23.7.0
certifi==2023.5.7
cfgv==3.3.1
click==8.1.6
distlib==0.3.7
exceptiongroup==1.1.2
filelock==3.12.2
identify==2.5.24
iniconfig==2.0.0
mypy-extensions==0.4.3
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
pipenv==2023.6.26
platformdirs==2.6.2
pluggy==1.2.0
pre-commit==3.3.3
pytest==7.4.0
pytest-cov==4.1.0
PyYAML==6.0
tomli==2.0.1
typing_extensions==4.7.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
